
  
  .topnav{
  
    width: 100.6%;
    
    flex-wrap: wrap;
    
  }
  
   .topnav img{
    width: 8%;
  height: 60px;
  float: left;
  }
  
  .topnav .name{
    width: 18%;
    float:left;
    display: flex;
    background-color: white;
    font-size: 20px;
    height: 60px;
  }
  
  .topnav .name i{
    
    background: -webkit-linear-gradient(rgb(197, 32, 238), rgb(170, 52, 52));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
      font-size:medium;
      display: flex;
  }
  
  
  .topnav button img{
    width: 100%;
    height: 100%;
    float: left;
  }
  
  
  
  .topnav button{
    display: block;
    border: none;
    width: 6%;
    height: 60px;
    float: left;
    
  }
  
  .topnav button:hover{
    background-color: grey;
  }
  
  
  .topnav input[type=text] {
    width: 67%;
    height: 58px;
    display: block;
    font-size: 20px;
    border: none;
    float: left;
  }
  

.navbar{
    background-color: rgb(245, 160, 3);
    height: 80px;
    display: flex;
    padding: 0 1%;
    flex-flow: row wrap;
}

.navbar a#navicon{
  display: none;
}

.navbar ul{
    list-style: none;
    display: flex;
    width: 100%;
    
}

.navbar ul li{
    padding: 10px 30px;
    position: relative;
    width: 20%;
    height: 25px;
    text-align: center;
    
}


.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    transition: all 0.3s;
}



.navbar ul li:hover{
  background-color: rgb(252, 250, 127);
  border-radius: 5px;
}

.navbar ul li:hover a{
  color: black;
}

.dropdown-menu{
    display: none;
}

.navbar ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(245, 160, 3);
    z-index: 97;
    
}

.navbar ul li:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}


.navbar ul li:hover .dropdown-menu ul li{
    width: 100px;
    padding: 10px;
    text-align: left;
    
}

.submenu-1, .submenu-2{
  display: none;
}

.navbar .submenu-1 ul li a , .navbar .submenu-2 ul li a{
  font-size: 18px;
}

.hover:hover .submenu-1, .hover:hover .submenu-2{
  display: block;
  position: absolute;
  margin-top: -40px;
  margin-left: 100px;
  background-color: rgb(245, 160, 3);
}

@media only screen and (max-width:480px){
  /* Mobile Flex Style*/
  nav.navbar ul{
     display: flex;
     flex-flow: column wrap;
     height: 300px;
  }

  
  /* Navicon Menu Style */
  .navbar a#navicon img{
    width: 18%;
    height: auto;
    float: left;
  }
 
  .navbar a#navicon{
    width: 100%;
    height: 80px;
     display: block;
     background-color: rgb(245, 160, 3);
  }
  nav.navbar ul{
     display: none;
  }
  .navbar a#navicon:hover+ul, nav.navbar ul:hover {
     display:block;
     background-color: rgb(245, 160, 3);
     margin: 0%;
     z-index: 96;
     width: 100%;
  }

/* Shop name Font size */
  .name p{
    width: 230px;
    font-size: 1px;
  }


}


